Options ALL -Indexes
Options -Multiviews

RewriteEngine On
RewriteRule ^tasks/([0-9a-zA-Z]+) tasks.php?task=$1
RewriteRule ^tasks tasks.php
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
#

#<IfModule mod_rewrite.c>
#	RewriteEngine on
#
#	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteCond %{REQUEST_FILENAME} !-d
#
#	RewriteRule ^(.*)$ index.php/$1 [L]
#</IfModule>